body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

canvas {
  background: black;
  margin-top: 20px;
  border: 2px solid #444;
}

.controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle {
  display: flex;
  justify-content: center;
}

button {
  font-size: 26px;
  padding: 12px;
  margin: 6px;
  border-radius: 10px;
}
