body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
}

canvas {
  background: #000;
  margin-top: 20px;
}

.controls {
  margin-top: 20px;
}

button {
  font-size: 24px;
  padding: 10px;
  margin: 5px;
}
